<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <form action="/updatedbooks/<%= transaction._id %>" method="POST">
    Member ID: <input type="text" value= <%= transaction.memberid %> name="memberid"><br>
    Days: <input type="text" value= <%= transaction.days %> name="days"><br>
    OutDate: <input type="text" value= <%= transaction.outdate %> name="outdate"><br>
    DueDate: <input type="text" value= <%= transaction.duedate %> name="duedate"><br>
    InDate: <input type="text" value= <%= transaction.indate %> name="indate"><br>
    Fine: <input type="text" value= <%= transaction.fine %> name="fine"><br>
    Booklist:<br>
    <% for (let i=0; i<transaction.booklist.length; i++){ %>
      ISBN: <input type="text" value= <%= transaction.booklist[i].isbn %> || QTY: <input type="text" value= <%= transaction.booklist[i].qty %><br>
    <% } %>
    <input type = "submit">
  </form>
</body>
</html>
