<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  BOOKS<br>
  ------------------------------------------<br>
  <% for (let i in books){ %>
    <li>isbn: <%= books[i].isbn %> || title: <%= books[i].title %> || author: <%= books[i].author %> || category: <%= books[i].category %> || stock: <%= books[i].stock %>
    <form action="/deletebooks/<%= books[i].isbn %>" method="POST">
      <input type = "submit" value="delete">
    </form>
    <form action="/editbooks/<%= books[i].isbn %>" method="POST">
      <input type = "submit" value="edit">
    </form>
    <br>
  <% } %>
  <br>
  <br>
  CUSTOMERS<br>
  ------------------------------------------<br>
  <% for (let i in customers){ %>
    <li>name: <%= customers[i].name %> || memberid: <%= customers[i].memberid %> || address: <%= customers[i].address %> || zipcode: <%= customers[i].zipcode %>
    <br>
    <form action="/deletecustomers/<%= customers[i].memberid %>" method="POST">
      <input type = "submit" value="delete">
    </form>
    <form action="/editcustomers/<%= customers[i].memberid %>" method="POST">
      <input type = "submit" value="edit">
    </form>
    <br>
  <% } %>
  TRANSACTIONS<br>
  ------------------------------------------<br>
  <% for (let i in transactions){ %>
  <li>Memberid: <%= transactions[i].memberid %> || days: <%= transactions[i].days %> || Out Date: <%= transactions[i].out_date %> || Due Date: <%= transactions[i].due_date %> || In Date: <%= transactions[i].in_date %> || Fine: <%= transactions[i].fine %> || <br>
    <% for (let j=0; j<transactions[i].booklist.length; j++){ %>
      <li>ISBN <%= transactions[i].booklist[j].isbn %> || QTY <%=transactions[i].booklist[j].qty %> <br>
    <% } %>
  <form action="/deletetransactions/<%= transactions[i]._id %>" method="POST">
    <input type = "submit" value="delete">
  </form>
  <form action="/edittransactions/<%= transactions[i]._id %>" method="POST">
    <input type = "submit" value="edit">
  </form>
  <% } %>
  <br>
  <br>
  <a href="/formtransaction">Add Record</a>
</body>
</html>
